x-common-zwave: &common-zwave
  image: ghcr.io/zwave-js/zwave-js-ui:11.7.0
  restart: always
  stop_signal: SIGINT
  environment:
    - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
    - CONFIGS_SHA
  x-web:
    routes:
      - port: 3000
        path: /ws
      - port: 8091
        path: /

services:
  zwave-house:
    <<: *common-zwave
    container_name: zwave-house
    hostname: zwave-house
    volumes:
      - /data/zwave/house:/usr/src/app/store
    x-backup:
      paths:
        - /data/zwave/house

  zwave-shed:
    <<: *common-zwave  
    container_name: zwave-shed
    hostname: zwave-shed
    volumes:
      - /data/zwave/shed:/usr/src/app/store
    x-backup:
      paths:
        - /data/zwave/shed        

  zwave-office:
    <<: *common-zwave
    container_name: zwave-office
    hostname: zwave-office
    volumes:
      - /data/zwave/office:/usr/src/app/store
    x-backup:
      paths:
        - /data/zwave/office

  zwave-garage:
    <<: *common-zwave  
    container_name: zwave-garage
    hostname: zwave-garage
    volumes:
      - /data/zwave/garage:/usr/src/app/store
    x-backup:
      paths:
        - /data/zwave/garage                
