services:
  ext-proxy:
    container_name: ext-proxy
    hostname: ext-proxy
    image: nginx:stable
    environment:
      - CONFIGS_SHA
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${CONFIGS_DIR}/ext-proxy/proxy.conf:/etc/nginx/conf.d/proxy.conf
      - ${CONFIGS_DIR}/ext-proxy/00-remove-default.sh:/docker-entrypoint.d/00-remove-default.sh
      - ${CONFIGS_DIR}/ext-proxy/00-calculate-configs-sha.sh:/docker-entrypoint.d/00-calculate-configs-sha.sh      
      - ${CONFIGS_DIR}/ext-proxy/00_logging.conf:/etc/nginx/conf.d/00_logging.conf
      - ${CONFIGS_DIR}/ext-proxy/40-clear-cache.sh:/docker-entrypoint.d/40-clear-cache.sh
      - ${CONFIGS_DIR}/ext-proxy/dhparam:/etc/nginx/dhparam
      - ${CONFIGS_DIR}/ext-proxy/reload-on-configs-change.sh:/reload-on-configs-change.sh      
      - /data/certificates/certificates:/etc/letsencrypt/certificates:ro      
    restart: unless-stopped
    networks:
      smallsites: {}
      vmsave: {}
      pkdn: {}
      ext-proxy: {}
    x-dns:
      skip_service: true    
    x-cron:
      - name: "reload nginx on configs change"
        schedule: "0 */10 * * * *"
        mail_only_on_error: true
        command: "/bin/bash /reload-on-configs-change.sh"    

  anubis:
    image: ghcr.io/techarohq/anubis:latest
    hostname: anubis
    environment:
      BIND: ":8080"
      DIFFICULTY: "4"
      METRICS_BIND: ":9090"
      SERVE_ROBOTS_TXT: "true"
      TARGET: "http://ext-proxy:8888"
      OG_PASSTHROUGH: "true"
      OG_EXPIRY_TIME: "24h"
    healthcheck:
      test: ["CMD", "anubis", "--healthcheck"]
      interval: 5s
      timeout: 30s
      retries: 5
      start_period: 500ms
    networks:
      ext-proxy: {}

networks:
  ext-proxy: {}
