# Silicon Labs CP210x UART Bridge
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="zigbee"

# Sigma Designs, Inc. Aeotec Z-Stick Gen5 (ZW090)
KERNEL=="ttyACM*", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", SYMLINK+="zwave"

# Prolific Technology Inc.  USB-Serial Controller 
KERNEL=="ttyUSB*", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="23a3", SYMLINK+="generator"

# Zooz 800 Z-Wave Stick
KERNEL=="ttyACM*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="55d4", SYMLINK+="zwave"

# FTDI FT232R USB UART
KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", SYMLINK+="rs485"

# Klipper RP2040
KERNEL=="ttyACM*", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="614e", SYMLINK+="klipper-rp2040"