config.json
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
configs/ser2net/ser2net.conf.out.*
ansible/files/build
dns/public_ingress.js
dns/fly-certs.txt
ts-compose.yml
serveconfig.json
.DS_Store
secrets.store
.env
.gitignore
ansible/files/backups/backup_hosts.sh
dns/creds.json
dns/local_ingress.js
docker-bake.json
stacks/certificate-builder/generate.sh
stacks/common/backup_key
stacks/common/file_list.txt
stacks/common/run_backups.sh
stacks/dozzle/docker-compose.yml
stacks/gatus/config/auto-hosts.yaml
stacks/gatus/config/auto-web.yaml
stacks/gatus/config/certificates.yaml
stacks/local-proxy/proxy.conf
stacks/monitoring/prometheus.yaml
stacks/ofelia/config.ini
stacks/parametric-zigbee/docker-compose.yml
stacks/parametric-zwave/docker-compose.yml
stacks/victoriametrics/promscrape/node-exporter-targets.json

