config.json
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
configs/ser2net/ser2net.conf.out.*
ansible/files/build
.env
.gitignore
ansible/files/backups/backup_hosts.sh
dns/creds.json
dns/public_ingress.js
fly-proxy/proxy.conf
stacks/genmon/docker-compose.yml
stacks/int-proxy/proxy.conf
stacks/monitoring/prometheus.yaml
stacks/parametric-zigbee/docker-compose.yml
stacks/parametric-zwave/docker-compose.yml
stacks/tailscale-auto/docker-compose.yml

