services:
  calendar-sync:
    container_name: calendar-sync
    image: ghcr.io/keenfamily-us/infra/stacks/calendar-sync:latest
    volumes:
      - /data/calendar-sync:/data
    environment:
      - DATA_DIR=/data
    x-cron:
      - name: "run calendar sync"
        schedule: "@hourly"
        type: local
        command: docker exec calendar-sync /app/calendar-sync
    x-op-items:
      - ref: ch43e2fglfkz5x2if6fg25jwye/config.yaml
        remote_path: /data/calendar-sync/config.yaml
      - ref: ch43e2fglfkz5x2if6fg25jwye/token.json
        remote_path: /data/calendar-sync/token.json
      - ref: ch43e2fglfkz5x2if6fg25jwye/credentials.json
        remote_path: /data/calendar-sync/credentials.json
